%h1 Sto.ck
%p Never waste time buying same boring items you always get.
%p If you find yourself buying the same items at the grocery store or on Amazon time and again start using Sto.ck to make your life easier.

%h4 Use cases
%ul
  %li Buying toiletries like toothpaste, toothbrushes, deodorant, razors, and toilet paper.
  %li Keeping your company's kitchen well stocked.
  %li Simple clothes like undershirts, socks, and underwear
